*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

body {
  background-image:linear-gradient(45deg,#101010 10%,#2e2e2e 60%,#5e5e60 80%) ;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: space-around;
  height: auto;
  z-index: 4;
}
img {
  object-fit: cover;
}
::-webkit-scrollbar {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #666565;
}

/*---------------------ESTILOS GERAIS DO TOPO-----------------------*/ 
#topo {
  width: 100%;
  height:auto;
  background-color:#000000;
  display: flex;
  position: fixed;
  top:0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  z-index: 4;
}
header img{
  border-radius: 20px;
  width: 2.3rem;
  height: 2.3rem;
}
header img:hover{
  opacity: 0.8;
}
/*--------------------- ESTILOS DA BARRA DE PESQUISA--------------------*/
.barra-pesquisa{
  margin:0 2rem 0 2rem;
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
}


.barra-pesquisa form {
  margin-left:2.3rem;
  width: 80%;
  height:5vh;
  justify-content: center;
  border: none;
  color: #000000;
}
.barra-pesquisa input {
  width: 100%;
  height: 4vh;
  border-radius: 1rem;
  padding-left: 0.7rem;
  border: 1px solid gray;
  font-size: 1rem;
  font-family:  'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
.barra-pesquisa input:focus{
  outline: none;
  background-color: #fffdfd;
  color: #000000;
}
.barra-pesquisa form input:hover{
  background-color: #c9c9ca;
}

/*----------------------------ESTILOS DO MENU--------------------------*/
.menu{
  display: flex;
  width:40%;
  align-items: center;
  justify-content: end;
  padding: 0 2rem 0 2rem;

}
.menu a{
  margin-left: 4rem;
}









/*---------------------------------Área do Contéudo--------------------*/
.conteudo{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #0000CD;
  overflow: hidden;
  min
}

 /*--------------------Area Slide de Imagens-----------------------*/

  .image-container {
  
    width: 100%;
    height: 150vh; /* Calcula a altura para ocupar toda a tela, exceto o header */
    z-index: 1;
  }
  #postP {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .trasintionSuave{
    position: relative !important;
    transition:  all ease-in-out 0.5s;
    
    animation: infinite 0.9;
  }
  /*.conteudo:hover {
    z-index: 1; 
    width: 100%;
    height: 1000vh;
  }*/
  #postP{
    transition: transform 2s ease-in-out ;
  }

/*--------------------------- ÁREA DE CADASTRO------------------------- */

.container-cadastro {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1.2rem;
  box-sizing: border-box;
  height: auto;
  border-radius: 2rem;
  margin-top:25vh;
  z-index: 2;
  position: relative; /* Adiciona posicionamento relativo */
  bottom: 150vh;
}

.logocad {
  max-width: 6.25rem;
  max-height: 6.25rem;
  border-radius: 3.2rem;
  border: 1px solid #000000;
}
.container-cadastro h1 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*-------------PARTE SUPERIOR CADASTRO---------*/
.redes-cadastro{
  display:flex;
  width: 100%;
  justify-content:space-around;
  align-items:center;
  min-height:10vh;
  margin-top: 2vh;
  margin-bottom: 1rem;
}
.redes-cadastro img{
    border-radius: 1rem;
    object-fit: cover;
    width: 1.8rem;
    height:1.8rem;
    margin-left: 0.6rem;
}
.gf-cadastro {
  height: 7vh;
  width: 40%;
  align-items:center;
  display: flex;
}
.gf-cadastro h5{
  padding-left: 0.5rem;
  color: white;
  font-size: 1rem;
}
#gg{
  background: black;
}
#ff{
  background:#0000CD;
}

/*----------------------PARTE DO FORMULÁRIO--------------------*/

.container-cadastro form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

}
.container-cadastro label {
  margin-top: 0.7rem;

}
.container-cadastro input {
  padding: 0.5rem;
  background-color: #7e7e7e;
  border: 1px solid #ccc;
  border-radius: 0.34rem;
  margin-top: 0.8rem;
  font-size: 1rem;
}
.container-cadastro input::placeholder{
  color: #000000;
  font-weight: 400;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-cadastro input:focus {
  background-color: #cfd3da;
  color: rgb(1, 1, 1);
}
.termos label{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color:#fff;
    font-size: 1.2rem;
    width: 50%;
    height: 9vh;
    border-radius: 1.8rem;
    margin:2rem auto 1rem auto;
     background: linear-gradient(90deg, #1e9ef4 0%, #022677 50%, #001449 100%);
     border-color:none;
  }
  hr{
    background-color: #000000;
    width: 100%;
    height:4px;
  }


  

/*        ESTILO DO RODAPÉ            */

  footer {
    display: flex;
    width: 100%;
    background-color: #000000;
    color: #fff;
    justify-content: space-between;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.9);
  }
  .topo-footer{
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;

}
.contato {
    display: flex;
    flex-direction: column;
    height:30vh;
    padding-top:3rem;
    width:30%;
}
#containerDeapoio {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90px;
}
  
.logoOwl {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;  
}
  
.detalhesFooter {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    width: 25%;
}
  
.detalhesFooter h3 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}
.detalhesFooter span{
    margin-bottom: 10px;
}
.apoioLateral{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.apoioLateral span{
    margin-bottom: 50px;
    margin-left: 50px;

}
.img-lateral{
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: end;
}

#triangulo-para-direita{
    width: 80%;
    height: 300px;
    left: 0;
}
#emailLogo{
    margin-left: 14px;
    height: 50px;
    width:50px;
    border-radius: 0;
}
  footer span {
    margin-top: 30px;
    margin-left: 10px;
    height: 10px;
    width: 80px;
    color: #fff;
  }


  @media screen and (max-width: 768px) {
    body{
      background: linear-gradient(90deg, #1e9ef4 0%, #022677 50%, #001449 100%);
    }
    #topo{
      display: none;
    }
    .container-cadastro {
      margin: 3rem;
      width: 90%;
    }
    button {
      font-size: 0.7rem;
    }
    footer{
      display:none;
    }

  }
