.trasintionSuave{
    position: relative !important;
    transition:  all ease-in-out 1s;
    animation-duration:4s;
    
    
    
}
.arrow:hover{
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    filter: invert(100%);
}
.conteudo:hover {
   
    background: linear-gradient(90deg, #1d09ff, #8028fb);
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 107%;
    height: 107%;
}
#postP{
    transition: transform 2s ease-in-out ;
}
.opacityAnimation{
    animation: opacidade 3s ease-in-out;
    
}
@keyframes opacidade {
    0%{
        opacity: 1;
        
    }100%{
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(15px);
        box-shadow: 0 0 0 transparent;
    }
}
@keyframes efectUserIcon {
    0%{
        transform: rotateX('0');
    }100%{
        transform: rotateX('160');
    }
}
.imagem2:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    
}
.content:hover .idParaMidia {
    
    display: flex;
   /*background-color: #ab007d;*/
    
}
.imagem3:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
}
.imagem4:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    
}
.imagem5:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    
}
.imagem6:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    
}
.imagem7:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    
    
}
.imagem8:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%; 
    
}
.imagem9:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem10:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
  
}
.imagem11:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem12:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem13:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    /*filter: blur(3px); texto...*/
}
.imagem14:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem15:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem16:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem17:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}
.imagem18:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    
}