/* Estilos globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
    font-family: Arial, sans-serif;
    
    
}
body {
    
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#000000;
}

/* Estilos para o cabeçalho */
header {
    background-color: #000;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    position: fixed;
    z-index: +6;
    transition: all ease-in-out 0.5s;  
    
}
a{
    text-decoration: none;
    display: block;
}
.detalhesPerfil{
    display: flex;
    flex-direction: column;
    width: 200px;

}
#nome{
    font-size: 20px;
}
::-webkit-scrollbar{
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #4d4d4df1;
}
#divisor{
    display:flex;
    flex-direction: row;
    justify-content: start;
    width: 62%;
}
/* Estilos para o perfil do usuário */
.user-profile img {
    width: 45px;
    height: 45px;
    border-radius:50% ;
    object-fit: cover;
    cursor: pointer;
   
}
.user-profile{
    display: flex;
    margin-right:20px;
    /*padding-right: 25px; */
}
.user-profile div {
    margin-left: 9px;
    color: #fff;
}

/* Estilos para a barra de pesquisa */
.search-bar{
    width:55%;
}
.search-bar input {
    
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    width: 100%;
   
}

/* Estilos para os ícones */
.icon-group {
    
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 100%;
    height: 50px;
    margin-right: 20px;
    
    
    padding: 0.3rem;
    object-fit:contain;
}
/* Estilos para o container da imagem */
.image-container {
    position: relative;
    width: 100%;
    height: 78vh; /* 75% do campo de visão (viewport height) */
    overflow: hidden; /* Para esconder partes da imagem que possam ultrapassar o container */
    /*box-shadow: 0 20px 50px rgb(0, 0, 0);*/
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    
    
}

/* Estilos para a descrição */
.image-description {
    position: absolute;
    bottom: 100px;
    display: flex;
    width:50%;
    padding: 10px;
    font-weight: 700;
    font-size: 70px;
    background: radial-gradient(black,transparent);
   border-radius: 60px;
    color: white;
    right:45%;
    padding-left: 30px;
    /*margin-left:40px ;*/
    
    z-index: 1;

    
}
main{
    
    /*box-shadow: 0px -90px 600px 100px #000000;*/
    display: grid;
    height: 1000px;
    width: 95%;
    margin-left:0;
    margin-top: 30px;
    grid-template-columns:repeat(8,16.66666666666667%) ;
    grid-template-rows: repeat(6,16.66666666666667%);
    grid-column-gap: 1%;
  grid-row-gap: 15px;
  transition: all ease-in-out 0.5s;  

}

.conteudo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #0e08d2, #00ffe4);
    /*background: linear-gradient(90deg, #000000, #0020ab);*/
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    border-radius: 10px;
    transition-property: background-color;
    padding: 10px;
    transition:  0.5s ease;
    
}

.usuarioIndentificador{
    margin-top: 10px;
    display: flex;
}
.usuarioIndentificador span{
    margin-left: 10px;
    margin-top:25px ;
    height: 100%;
}
.fotoMin{
    margin-top: 10px;
    border-radius: 50px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.detalhes{
    width: 400px;
    color: #fff;
}
.conteudo h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    font-size: 100px;
    color: #BEBFD8;
    bottom:0;
}
.conteudo h2{
    
    margin-top: 5px;
    font-size: 30px;
    color: #fff;
}

.imagem2{
   width:100%;
    height: 100%;
    object-fit: cover;
    
    transition: all ease-in-out 0.5s;    
}
.campoDeAuxilioExibicao2{
    display: flex;
    grid-column: 4/6;
    grid-row: 1/3;

}
.imagem3{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  

}
.campoDeAuxilioExibicao3{
    display: flex;
    grid-column: 6/7;
    grid-row: 1/3;

}
.imagem4{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  
}
.campoDeAuxilioExibicao4{
    display: flex;
    grid-column: 1/2;
    grid-row: 3/5;

}
.imagem5{
    grid-column: 2/4;
    grid-row: 3/5;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  
}
.campoDeAuxilioExibicao5{
    display: flex;
    grid-column: 2/4;
    grid-row: 3/5;

}
.imagem6{
    grid-column: 4/7;
    grid-row: 3/5;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  
}
.campoDeAuxilioExibicao6{
    display: flex;
    grid-column: 4/7;
    grid-row: 3/5;

}
.imagem7{
    grid-row: 5/7;
    grid-column: 1/5;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  

}
.campoDeAuxilioExibicao7{
    display: flex;
    grid-row: 5/7;
    grid-column: 1/5;

}
.imagem8{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;  

}
.campoDeAuxilioExibicao8{
    display: flex;
    grid-row: 5/7;
    grid-column: 5/7;

}
footer{

    display: flex;
    margin-top: 350px;
    width: 100%;
    height: 500px;
    background-color: #000000;
    justify-content:space-between ;
    box-shadow: 0px -55px 150px rgba(0, 0, 0, 0.9);
    transition: all ease-in-out 0.5s;  
    
}
.contato{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
}
#containerDeapoio{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90px;
}

.logoOwl{
    width: 80px;
    height: 80px;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.detalhesFooter{
    margin-left:200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.detalhesFooter h3{
    margin-top: 0;
    padding: 10px;
    margin-bottom: 0;
    color:#fff;    
    font-size: 20px;
}
.topo{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    

}
footer span{
    margin-top: 30px;
    margin-left: 10px;
    height: 10px;
    width:80px;
    color: #fff;
}

/*carrosel*/
.infobar{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #000000;
    color: #ffffff;
    align-items: center;
 
    
}
.infobar h3{
    margin:10px;
    font-size: 30px;
    
}
.bottom{
margin-top: 40px;
}

.container {
    margin:auto ;
    border-radius: 25px;
    background-color: #0d0b0bdb;
    width: 95%;
    margin-bottom: 0px;
    height: 450px;
    padding: 30px;

  }
  
  .carousel {
    
    margin-left: 112.5px;
    margin-right: 112.5px;
    display: flex;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-around;

  }
  
  .profile {
    width: 320px;
    height: 320px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    object-fit: cover;
    overflow-x: hidden;

  }
  
  .profile .verified {

    bottom: -5px;
    right: -5px;
    width: 20px;
  }
  
  .arrows {
    position:relative;
    display: flex;
    justify-content: space-between;
    bottom: 275px;
    
   
  }
  
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 80px;
    height: 80px;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
  }

  .arrow.right {
    transform: rotate(-180deg);
  }
.foryou{
    display: grid;
    height: 1550px;
    width: 95%;
    margin-left:0;
    margin-top: 30px;
    grid-template-columns:repeat(6,16.66666666666667%);
    grid-template-rows: repeat(10,10%);
    grid-column-gap: 1%;
    grid-row-gap: 15px;
}
.imagem9{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 

}
.campoDeAuxilioExibicao9{
    display: flex;
    grid-row: 7/8;
    grid-column: 1/2;

}
.imagem10{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao10{
    display: flex;
    grid-row: 7/8;
    grid-column: 2/4;

}
.imagem11{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao11{
    display: flex;
    grid-row: 7/9;
    grid-column: 4/7;

}
.imagem12{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao12{
    display: flex;
    grid-row: 8/11;
    grid-column: 1/4;

}
.imagem13{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao13{
    display: flex;
    grid-row: 9/11;
    grid-column: 4/7;

}
.smallParte .conteudo h1{
    top:0%;
    height: 100%;
    margin-right: 15px;
    margin-left: 0;
    font-size: 70px;
}
.smallParte .conteudo .detalhes {
    width: 100%;
    margin-left: 20px;
}
.smallParte .conteudo h2 {
    width: 100%;
    height: 100%;
    margin-bottom: 5;
}
.top{
    margin-top:150px ;
}
.iniciantes{
    display: grid;
    height: 1000px;
    width: 95%;
    margin-left:0;
    margin-top: 40px;
    grid-template-columns:repeat(6,16.66666666666667%) ;
    grid-template-rows: repeat(4,25%);
    grid-column-gap: 1%;
  grid-row-gap: 1%;
  
}
.imagem14{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 

}
.campoDeAuxilioExibicao14{
    display: flex;
    grid-row: 1/3;
    grid-column: 1/2;
    

}
.imagem15{
    grid-row: 1/3;
    grid-column: 2/4;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 

}
.campoDeAuxilioExibicao15{
    display: flex;
    grid-row: 1/3;
    grid-column: 2/4;

}
.imagem16{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao16{
    display: flex;
    grid-row: 1/3;
    grid-column: 4/7;
}
.imagem17{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 
}
.campoDeAuxilioExibicao17{
    display: flex;
    grid-row: 3/5;
    grid-column: 1/4;
}
.imagem18{
    
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s; 

}
.campoDeAuxilioExibicao18{
    display: flex;
    grid-row: 3/5;
    grid-column: 4/7;
}
.apoioLateral{
    display: flex;
    margin-bottom: 30px;
}

.apoioLateral span{
    margin-bottom: 50px;
    margin-left: 50px;

}

#triangulo-para-direita{
    width: 600px;
    height: 499px;
position: relative;
left: 0;

}
#emailLogo{
    margin-left: 14px;
    height: 50px;
    width:50px;
    border-radius: 0;
}

.content{
    border-radius: 15px;
    display: flex;
    cursor: pointer;

}
.idParaMidia{
    display: none;
    color: #fff;
    z-index: 3;
    position:absolute;
    margin-top:14% ;
    transition: all ease-in-out 2s;  
    
    
    
}
.nameClassUser{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    margin-left:12px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    color:#000000;
    
}

.toper{
    margin-top: 150px;
    margin-bottom: 150px;
}
.ajustesDivBottom{
    margin-top: 250px;
}
.ajustesDivBottom_img9{
    margin-top: 90px;
}
.ajustesLargeDivs{
    margin-top: 400px;
}
.nameAutor{
    width:200px;
    height: 80px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1.503rem;
    
    /*background-color: red;*/
    z-index: 1;
    
}
.divArtist{
    height: 100%;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/*CONFIGURAÇÃO CSS PARA A TELA DE VIZUALIZAÇÃO*/
#MPmain{
    display: flex;
    justify-content: flex-start;
    align-items:start;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-top: 73px;
    height: 950px; /* 75% do campo de visão (viewport height) */
    margin-bottom: 200px;

}
#MPcoments{
    margin-top:0;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 25%;
    height: 100%;
    padding-top:20px ;
    
}
.MPcomment {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 20px;
  }

  .MPprofile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .MPcomment-content {
    flex-grow: 1;
  }

  .MPtimestamp {
    color: #999;
    font-size: 12px;
    margin-right: 20px;
  }
#MPpost-image{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    flex-wrap: wrap;
}
#MPpost{
    width: 100%;
    height: 80%;
    border-radius: 2vw;

    object-fit:contain;
}
#MPperfil{
    margin-top: 50px;
    width: 45%;
    display: flex;
    align-items: center;
}
#MPperfil img{
    margin-left: 5%;
    
    width: 60px;
    height: 60px;
    border: solid 2px white;
    border-radius: 100%;
}
#MPperfil p{
    margin-left: 5px;
    color:white;
}
#MPicones{
    justify-content: space-around;
    display: flex;
    border-radius: 0;
    width: 100%;
    position: relative;
    margin-top: 50px;
    z-index: 4;
    
}
.MPicones{
    width: 123px;
    height: 76px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}
.MPicones.hidden {
    opacity: 0;
}
.divs {
    max-width: 100%;
    height: auto;
  }
#MPcomem {
    
    background-color: black;
    color: white;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 25px;
    position:relative;
    padding: 0.6rem;
    width: 97%;
}
#inserirComente{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white ;
    flex-direction: column;
    border-radius: 25px;
    width: 93%;
    height: 140px;
    display: flex;
    position: relative;
    bottom:140px;
    
}
.idsDebusca{
    width: 100%;
    align-items: flex-start;
    padding: 5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#MpapoioComent{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
#MPrelacionados{
    position: relative;
    display: grid;
    height: 50vw;
    width: 95%;
    margin-left:0;
    margin-bottom: 200px;
    margin-top: 30px;
    grid-template-columns:repeat(8,16.66666666666667%) ;
    grid-template-rows: repeat(6,16.66666666666667%);
    grid-column-gap: 1%;
    grid-row-gap: 15px;
}
.apoioDivImg_icones{
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.comentarioTxt{
    margin-top: 7px;
    
}
.apoioResponder{
display: flex;
cursor: pointer;

}
#carregarMaisRespostas{
    margin-top:10px ;
    margin-bottom: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    
}