* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #666565;
}

/*----------------TOPO------------------*/

#topo {
    position: fixed;
    background-color: #000000;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
}

.barra-pesquisa {
    margin-right: 30px;
    width: 490px;
    display: flex;
    justify-content: start;
    column-gap: 17px;
}

.bg-pesquisa {
    background-color: #f7f7f7;
    padding: 3px;
    height: 30px;
    border-radius: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
    border: none;
    background-color: #f7f7f7;
    padding: 10px;
    width: 440px;
    height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    border-radius: 35px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.menu {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgConfig {
    padding: 15px 20px 0 0;
    display: flex;
    justify-content: end;
}

/*----------------PERFIL------------------*/

#perfil {
    height: 620px;
    padding: 20px;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.secao-esquerda {
    width: 280px;
    line-height: 22px;
    font-size: 14px;
}

.secao-esquerda div {
    margin-bottom: 40px;
    margin-top: 5px;
    background-color: black;
    width: 220px;
    padding: 20px 10px;
}

.secao-esquerda button {
    background: linear-gradient(#00DF95, #0020AB);
    font-size: .8rem;
    padding-bottom: 5px;
    width: 50px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    letter-spacing: 2px;
}

.secao-esquerda button:hover {
    cursor: pointer;
}

.secao-centro {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.atributos-perfil {
    padding: 10px;
    padding-bottom: 50px;
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.atributos-perfil h4:hover,
.menu img {
    cursor: pointer;
}

.atributos-perfil-artes {
    width: 440px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.411);
}

.atributos-perfil-artes h4 {
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.atributos-perfil-artes h4 div {
    background-color: red;
    color: black;
    font-size: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.atributos-perfil-artes h4:hover {
    background-color: rgba(255, 255, 255, 0.158);
    cursor: pointer;
    transition: 400ms;
}

.secao-centro img {
    width: 300px;
    border: 5px solid white;
    border-radius: 100%;
}

.secao-direita {
    padding: 20px 0;
    width: 280px;
}

.inspiracoes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inspiracoes div {
    background-color: black;
    font-size: 1.2rem;
    padding: 15px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    border-radius: 15px;
}

.inspiracoes div img {
    height: 40px;
    border-radius: 100%;
}

/*-------------ARTES DO PERFIL---------------*/

#artes-perfil {
    padding: 0 20px;
    display: grid;
    width: 100%;
    height: 1700px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.imagem1 {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/5;
}

.imagem2 {
    width: 100%;
    height: 100%;
    grid-column: 3/5;
    grid-row: 1/3;
}

.imagem3 {
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 1/4;
}

.imagem4 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 5/7;
}

.imagem5 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 5/8;
}

.imagem6 {
    width: 100%;
    height: 100%;
    grid-column: 3/5;
    grid-row: 3/7;
}

.imagem7 {
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 4/7;
}

.imagem8 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 7/10;
}

.imagem9 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 8/10;
}

.imagem10 {
    width: 100%;
    height: 100%;
    grid-column: 3/6;
    grid-row: 7/10;
}

.imagem11 {
    width: 100%;
    height: 100%;
    grid-column: 6/7;
    grid-row: 7/10;
}

.imagem12 {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 10/13;
}

.imagem13 {
    width: 100%;
    height: 100%;
    grid-column: 4/5;
    grid-row: 10/13;
}

.imagem14 {
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 10/13;
}

/*------------------RODAPÉ-------------------*/



/*-----------MEDIA SCREEN-------------*/

@media screen and (max-width: 768px) {
    #topo {
        display: none;
    }

    #perfil {
        height: 350px;
        padding: 0;
        justify-content: center;
    }

    .secao-direita {
        display: none;
    }

    .secao-esquerda {
        display: none;
    }

    footer {
        display: none;
    }

    .secao-centro {
        height: 350px;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .secao-centro img {
        width: 200px;
        border: 5px solid white;
        border-radius: 100%;
    }

    .secao-centro h1 {
        font-size: 1.5rem;
    }

    .atributos-perfil {
        padding-bottom: 0;
        font-size: .9rem;
    }

    .atributos-perfil-artes {
        width: 280px;
        font-size: .8rem;
    }

    .atributos-perfil-artes h4 div {
        font-size: .8rem;
        width: 20px;
        height: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
        border: none;
        background-color: #f7f7f7;
        padding: 10px;
        width: 380px;
        height: 30px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #333333;
        border-radius: 35px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    }
}