body {
    background-color: #2e2e2e;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-around;
  }

  /* ESTILOS DO TOPO */ 

  #topo {
    width: 100%;
    height: 10vh;
    background-color: #000000;
    display: flex;
    margin-bottom:2rem;
    justify-content: space-around;
    align-items: center;
  }
  .barra-pesquisa{
    margin-right:2rem;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .bg-pesquisa {
    padding: 0.2rem;
    height: auto;
    width: 5%;
  }
  .bg-pesquisa img{
    border-radius: 20px;
  }
  .timg {
    width: 2.3rem;
    height: 2.3rem;
  }
  .barra-pesquisa form {
    width: 90%;
    justify-content: center;
  }
  .barra-pesquisa input {
    width: 100%;
    height: 5vh;
    border-radius: 15px;
    padding-left: 30px;
  }

  /*   ÁREA DE LOGIN   */
  
  .container-cadastro {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    border-radius: 2rem;
  }
  .logocad {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  .container-cadastro h1 {
    text-align: center;
    font-size: 2rem;
  }
  .redes{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:center;
  }
  .redes img{
      width: 30px;
      height:40px;
      border-radius: 20px;
  }
  .gg{
    width: 26%;
    height:40px;
    margin-right: 2rem;
  }
  .ff{
    width: 4%;
    height:40px;
    padding-left:1rem;
  }
  .container-cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .container-cadastro label {
    margin-top: 1.2rem;
  }
  .container-cadastro input {
    padding: 0.5rem;
    background-color: #6e6e6e;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.8rem;
    background: #fff;
  }
  .container-cadastro input::placeholder {
    color: #6e6e6e;
  }
  .termos label{
      font-size: 0.8rem;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
  }

  .termos a{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    justify-content:end;
    color: #232388;
    transform: translateY(-100%);
    margin: 2px;
}
  
  button {
      color:#fff;
      font-size: 1.2rem;
      width: 50%;
      height: 9vh;
      border-radius: 30px;
      margin:2rem auto 1rem auto;
       background: linear-gradient(90deg, #1e9ef4 0%, #022677 50%, #001449 100%);
       border-color:none;
       cursor:pointer;
       transition: 0.3s; 
    }

    hr{
      background-color: #000000;
      width: 100%;
      height:4px;
    }
  /*        ESTILO DO RODAPÉ            */
  
    footer {
      display: flex;
      margin-top: 5rem;
      width: 100%;
      background-color: #000000;
      color: #fff;
      justify-content: space-between;
      box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.9);
    }
    .topo-footer{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
  
  }
    .contato {
      display: flex;
      flex-direction: column;
      height:30vh;
      padding-top:3rem;
      width:30%;
    }
    #containerDeapoio {
      position: relative;
      display: flex;
      align-items: start;
      justify-content: center;
      width: 90px;
    }
    
    .logoOwl {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;  
    }
    
    .detalhesFooter {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 20px;
      margin-top: 20px;
      width: 25%;
    }
    
    .detalhesFooter h3 {
      margin: 0;
      padding: 10px;
      color: #fff;
      font-size: 20px;
    }
    .detalhesFooter span{
      margin-bottom: 10px;
    }
    .apoioLateral{
      display: flex;
      margin-bottom: 30px;
      justify-content: center;
  }
  
  .apoioLateral span{
      margin-bottom: 50px;
      margin-left: 50px;
  
  }
  .img-lateral{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  
  #triangulo-para-direita{
      width: 80%;
      height: 300px;
      left: 0;
  }
  #emailLogo{
      margin-left: 14px;
      height: 50px;
      width:50px;
      border-radius: 0;
  }
    footer span {
      margin-top: 30px;
      margin-left: 10px;
      height: 10px;
      width: 80px;
      color: #fff;
    }
  
  
    @media screen and (max-width: 768px) {
      body{
        background: linear-gradient(90deg, #1e9ef4 0%, #022677 50%, #001449 100%);
      }
      #topo{
        display: none;
      }
      .container-cadastro {
        margin: 3rem;
        width: 90%;
      }
      button {
        font-size: 0.8rem;
      }
      footer{
        display:none;
      }
  
    }
