.trasintionSuave{
    position: relative !important;
    transition:  all ease-in-out 0.5s;
    
    animation: infinite 0.9;
}
.imagem1:hover>.conteudo{
   
    background: linear-gradient(180deg, #1e09ff, #ab007d);
}

.imagem2:hover{
    object-fit: contain;
}
.imagem3:hover{
    object-fit: contain;
}
.imagem4:hover{
    object-fit: contain;
}
.imagem5:hover{
    object-fit: contain;
}
.imagem6:hover{
    object-fit: contain;
}
.imagem7:hover{
    object-fit: contain;
    
}
.imagem8:hover{
    
    object-fit: contain; 
}
.imagem9:hover{
    object-fit: contain;
}