.trasintionSuave{
    position: relative !important;
    transition:  all ease-in-out 0.5s;
    
    animation: infinite 0.9;
}
.conteudo:hover {
   
    background: linear-gradient(90deg, #1e09ff, #ab007d);
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
}
#postP{
    transition: transform 2s ease-in-out ;
}
.opacityAnimation{
    animation: opacidade 3s ease-in-out;
}
@keyframes opacidade {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
        transform: translateX(-100px);
    }
}
@keyframes efectUserIcon {
    0%{
        transform: rotateX('0');
    }100%{
        transform: rotateX('160');
    }
}
.imagem2:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.content:hover .idParaMidia {
    
    display: flex;
    
}
.imagem3:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem4:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem5:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem6:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem7:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
    
}
.imagem8:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 110%;
    height: 110%; 
    filter: blur(3px);
}
.imagem9:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem10:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
  
}
.imagem11:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem12:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem13:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    /*filter: blur(3px); texto...*/
}
.imagem14:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem15:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem16:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem17:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}
.imagem18:hover{
    z-index: 2; 
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -300px;
    width: 110%;
    height: 110%;
    filter: blur(3px);
}